<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB64teEzTKlxXPYea-XhertXHsNxqOFskg</string>
	<key>GCM_SENDER_ID</key>
	<string>959019652459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimani.Habitify</string>
	<key>PROJECT_ID</key>
	<string>habitify-43efd</string>
	<key>STORAGE_BUCKET</key>
	<string>habitify-43efd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959019652459:ios:227c03d8d56a8b1241e82e</string>
</dict>
</plist>